@import "reset.scss";
@import "elements/description.scss";
@import "elements/carousel.scss";
@import "elements/shopping.scss";
@import "elements/footer.scss";
@import "elements/header.scss";

* {
  box-sizing: border-box;
  font-size: 8px;
  text-align: center;
}

h1,
h2,
p,
figcaption,
a,
button {
  font-family: "Lato", "sans-serif";
}

footer,
header,
body > section {
  padding: 0.5rem;
}

img {
  max-width: 100%;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

h2 {
  font-weight: bold;
  font-size: 1.25rem;
}

.separation {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  border-top: 1px solid #dbdbdb;
  margin: 15px auto;
}
