@import "reset.scss";
* {
  box-sizing: border-box;
  font-size: 8px;
}

img {
  max-width: 100%;
}

.title {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
