@import "reset.scss";
@import "elements/description.scss";
@import "elements/carousel.scss";
@import "elements/shopping.scss";
@import "elements/footer.scss";
@import "elements/header.scss";
* {
  box-sizing: border-box;
  font-size: 8px;
  text-align: center;
}

footer,
header,
body > section {
  padding: 0.5rem;
}

img {
  max-width: 100%;
}

header {
  height: 100px;
  background-color: lightblue;
}

.carousel {
  height: 600px;
  background-color: lightgoldenrodyellow;
}

.description {
  height: calc(500px - 10vw);
  background-color: lightseagreen;
}

.shopping {
  height: 300px;
  background-color: lightsalmon;
}

footer {
  height: 50px;
  background-color: lightsteelblue;
}
