@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}
.carousel__items {
  display: flex;
  padding: 1rem;
  align-items: center;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.carousel__item {
  flex-shrink: 0;
  flex-basis: 300px;
  margin-left: 1rem;
  scroll-snap-align: start;
  img {
    border-radius: 10px;
  }
}

@include desktop {
  .carousel {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      border-radius: 20px;
    }
  }

  .carousel__items {
    overflow-x: unset;
  }

  .carousel__item {
    flex-basis: 500px;
    flex-shrink: 1;
  }
}
