header {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #dbdbdb;
}

.title__secondary {
  font-family: "Valeria", "sans-serif" !important;
}
